langchain
fastapi
wandb
pip install -U "ray[data,train,tune,serve]"
eschercloud
SQLAlchemy
passlib
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
xformers
accelerate
sentencepiece
bitsandbytes
einops
streamlit